<% if current_user.admin? %>
	<%= button_to "Create New Pod", new_team_path, method: :get, class: 'btn btn-block btn-success create-note-btn' %>
<% end %>
<br>
<h2>Pods</h2>
<br>

<div class="container">
	<div class="row col-md-12 col-md-offset-2">
	<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Lead</th>
					<th class="text-center" style="width:300px;">Action</th>
				</tr>
			</thead>
			<% @teams.each do |team| %>
				<tr class="custab">
					<td><%= team.name %></td>
					<td>
						<% if team.lead.nil? %>
							No lead assigned
						<% else %>
							<%= team.lead.first_name %> <%= team.lead.last_name %>
						<% end %>
					</td>
					<td class="text-center">
						<%= link_to "History", team_path(team.id), class: 'btn btn-info btn-xs' %>
						<% if current_user.admin? %>
							<%= link_to "Edit", edit_team_path(team.id), class: 'btn btn-warning btn-xs' %>
							<%= link_to "Delete", team_path(team.id), method: :delete, class: 'btn btn-danger btn-xs',
														data: {confirm: 'Are you sure you want to eliminate this pod?'} %>
						<% end %>
					</td>
				</tr>
			<%end%>
	</table>
	</div>
</div>