<h1>Create A Pod</h1>

<%= form_for :teams, url: teams_path, method: :post do |team| %>
	<p>
		<%= team.text_field :team_name, required: true, :class => 'form-control', placeholder: 'Pod Name' %>
	</p>
	<% if @employees.present? %>
		<p>
			<%= select_tag :lead, options_for_select(@employees.map { |e| ["#{e.first_name} #{e.last_name}", e.id] }), required: true, id: "lead-select", prompt: 'Pod Lead', class: "btn-primary select", type: "button" %>
		</p>
	<div id = "team-members-assign">
		<h5>Assign Members</h5>
		<% @employees.each do |e| %>
			<%= team.fields_for :emp do |f| %>
			<div id = "select-field">
				<span id = "<%= "#{e.id}" %>", class = "team-member-boxes">
					<%= f.check_box :"#{e.id}", checked: false, class: "input-check-box" %><%= "#{e.first_name} " "#{e.last_name}" %>
				</span>
			</div>
			<% end %>
		<% end %>
	</div>
	<% else %>
		<h5><i> No employees available to assign </i></h5>
	<% end %>
	<hr>
	<p>
		<%= team.submit 'Save', class: "btn btn-primary" %>
	</p>
<% end %>

