<h1> Edit Note </h1>

<%= form_for :note_edit, url: note_path(@note), method: :patch do |note| %>
  <h5><%= @note.title %></h5>
  <% @employees.each do |employee| %>
	<% note_body = @note_bodies.find_by(employees_id: employee.id) %>
	<% next if @note_bodies.find_by(employees_id: employee.id).nil? %>
	<% note_roadblocks = @note_roadblocks.find_by(employees_id: employee.id)%>

    <%= note.fields_for "#{employee.id}" do |f| %>
      <div id="accordion">
        <div class="card">
        <div class="card-wrapper">
          <div class="card-header" id="heading<%="#{employee.id}"%>">
            <h5 class="mb-0">
              <button  type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse<%="#{employee.id}"%>" aria-expanded="false" aria-controls="collapse<%="#{employee.id}"%>">
              <h4><%= employee.last_name %>, <%= employee.first_name %></h4>
              </button>
              <span><%= f.check_box :absent, :checked => @absent_employees.include?(employee.id) %> Employee is not present</span>
            </h5>
          </div>
        </div>

          <div id="collapse<%="#{employee.id}"%>" class="collapse" aria-labelledby="heading<%="#{employee.id}"%>" data-parent="#accordion">
            <div class="card-body">
              <%= f.hidden_field :employee_id, value: employee.id %>

              <p><%= f.text_area :body, :class => 'form-control note-input', value: note_body.body %></p>

              <p><%= f.text_area :roadblock, :class => 'form-control note-input', value: note_roadblocks.body %></p>
              <hr>
    <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <hr>
  <%= note.submit 'Save Note', ({:class => 'btn btn-primary'}) %>
  <%= link_to "Cancel", note_path(@note), :class => "btn btn-danger"%>
<% end %>
