<h1> Create Note </h1>
  <h6><i>Select Pod(s)</i></h6>

<span></span>
<%= form_for :note_details, url: '/create_note', method: :post do |note| %>

  <% @teams.each do |team| %>
    <%= check_box_tag "team[]", team.id, false, class: "teams", data: {team: team.members.pluck(:id)} %>
    <strong><%= team.name %></strong>
  <% end %>

  <% @employees.each do |employee| %>
    <%= note.fields_for "#{employee.id}" do |f| %>
    <div id ="<%="#{employee.id}"%>" class = "employee">
      <div id="accordion">
        <div class="card card-wrapper">
          <div class="card-header" id="heading<%="#{employee.id}"%>">
            <h5 class="mb-0">
              <span><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse<%="#{employee.id}"%>" aria-expanded="false" aria-controls="collapse<%="#{employee.id}"%>">
              <h4><%= employee.last_name %>, <%= employee.first_name %></h4>
              </button></span>
              <span><%= f.check_box :absent, checked: false %> Employee is not present</span>
            </h5>
          </div>
        </div>

        <div id="collapse<%="#{employee.id}"%>" class="collapse" aria-labelledby="heading<%="#{employee.id}"%>" data-parent="#accordion">
          <div class="card-body">
            <%= f.hidden_field :employee_id, value: employee.id %>
            <h5><%= f.label :body, 'Notes'%></h5>
            <p><%= f.text_area :body, class: 'form-control note-input', placeholder: 'Note' %></p>
            <h5><%= f.label :roadblock, 'Road Blocks'%></h5>
            <p><%= f.text_area :roadblock, class: 'form-control note-input', placeholder: 'Road Blocks'%></p>
    <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <hr>
  <%= note.submit 'Save Note', ({class: 'btn btn-success'}) %>
  <%= link_to "Cancel", home_path, :class => "btn btn-danger"%>
<% end %>
