<div class="notes-wrapper">
	<div class="team-card">
		<h6>Employee Name</h6>
	 	<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>
	</div>

	<div class="team-card">
		<h6>Current Pods</h6>
		<% if @teams.blank? %>
			<h3><i>Not assigned to any pods yet</i></h3>
		<% else %>
      <ul>
        <% @teams.each do |team| %>
          <li><%= link_to "#{team.name}", team_path(team.id) %></li>
        <% end %>
      </ul>
		<% end %>
	</div>

	<div class="team-card">
		<h6>Pod History</h6>
		<ul>
			<% @records.each do |record|%>
				<li><%= record %></li>
			<% end %>
		</ul>
	</div>

	<div class="team-card" style="width:80%;">
		<h6>Note History</h6>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Note</th>
          <th>Roadblocks</th>
          <th style="width:150px;">Date</th>
          <th class="text-center" style="width:100px;">Action</th>
        </tr>
      </thead>
      <% @employee_notes.each do |note| %>
        <tr class="custab">
          <td><%= note[:body] %></td>
          <td><%= note[:roadblocks] %></td>
          <td><%= note[:date].in_time_zone('America/Chicago').strftime('%a %D') %></td>
          <td class="text-center">
            <%= link_to "View", note_path(note[:id]), class: 'btn btn-info btn-xs' %>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>
<br>
