<% if current_user.as_employee.present? %>
	<%= button_to "Create Note", new_note_path, class: 'btn btn-block btn-success create-note-btn', method: :get %>
<% end %>

<br>
<div class = "notes-wrapper" >
	<% @week.reverse.each do |day| %>
		<div class = "day-card">
			<h6><%= day.strftime('%A, %b %d') %></h6>
			<% @notes.each do |note|%>
				<% if note.created_at.in_time_zone('America/Chicago').to_s.include?(day.strftime('%Y-%m-%d'))%>
					<div class = "team"><h5><%= link_to "#{note.team.name}", note_path(note)%></h5></div>
				<% end %>
			<% end  %>
		</div>
	<% end %>
</div>
