<br>
<%= link_to "Back to Note", note_path("#{@roadblock.note_id}"), :class => 'btn btn-outline-dark' %>
<br><br>
<h4>Roadblocks</h4>
<hr>
<i><%= "#{@roadblock_owner} on #{@roadblock.created_at.in_time_zone('America/Chicago').strftime("%a %b %d, %Y at %I:%M %p")}" %></i>
<br><br>
<h6><%= @roadblock.body %></h6>
<hr>
<%= render 'solutions/solutions'%>
<% if current_user.as_employee.present? %>
    <%= render 'solutions/form'%>
<% end %>
