<!DOCTYPE html>
<html>
  <head>
    <title>Stand-Up Notes</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
  </head>
  <body>
    <%# Display company logo and app info %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= image_tag("snap_it_logo.png", :class => 'snap_logo', :alt => "snapIT logo") %>
      <span class="navbar-brand">Stand-Up Notes</span>

      <%# This part of the nav bar is only visible when logged in %>
      <% if current_user %>

        <%# Page Links %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if current_page?(home_path) %>"><%= link_to "Home", home_path, class: "nav-link" %></li>
          <li class="nav-item <%= 'active' if current_page?(notes_path) %>"><%= link_to "Notes", notes_path, class: "nav-link" %></li>
          <li class="nav-item <%= 'active' if current_page?(teams_path) %>"><%= link_to "Pods", teams_path, class: "nav-link" %></li>
          <%# These buttons are only if user has role admin %>
          <% if current_user.admin? %>
            <li class="nav-item <%= 'active' if current_page?(admin_index_path) %>"><%= link_to "Employees", admin_index_path, class: "nav-link" %></li>
          <% end %>
        </ul>

          <%# Display Current User Info %>
          <span class="navbar-text"><small><i style="color:white;">
            Admin
          </i></small></span>

          <%# Dropdown %>
          <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Settings
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% if current_user.as_employee.present? %>
                <%= link_to "My History", employee_path(1), class: "dropdown-item" %>
              <% end %>
              <%= link_to "Change Password", '/password', class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log Out", '/logout', class: "dropdown-item" %>
            </div>
          </li>
          </ul>
      <% end %>
    </nav>

    <%# When flash messages appear, this is the container for it %>
    <div id="flash_msg">
      <% flash.each do |name, msg| %>
        <div class='alert alert-<%= name %>'role='alert'> 
          <%= msg %>
        </div>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <br>
  </body>
  <footer>
    <br>
  </footer>
</html>
